<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transférer - Pay My Buddy</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/transfer-page.css" rel="stylesheet">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pay My Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
             <!--  <a class="nav-link active" th:href="@{/transfer}">Transférer</a>  -->      
                   <a class="nav-link active" th:href="@{/transfer/page}">Transférer</a>                        
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profil}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ajouter-relation}">Ajouter relation</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Transfer Section -->
<div class="container mt-5">
<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <p th:text="${successMessage}"></p>
    </div>

    <form id="relationForm"  th:action="@{/processTransfer}" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
               <label for="relationSearch"><!--  Rechercher une relation --></label> 
               <select id="relationOption" name="relationOption" class="form-control">
                 <option value="">Sélectionnez une option</option>
                 <option th:each="connection : ${connections}" th:value="${connection.email}" th:text="${connection.username}">Relation</option>
               </select>           
            </div>
            <div class="form-group col-md-4">
              <label for="description"> <!--Description-->  </label>  
                <input type="text" class="form-control" id="description" name="description" placeholder="Description">
            </div>
            <div class="form-group col-md-2">
            <label for="amount"> <!-- Montant--></label>   
                <input type="number" class="form-control" id="amount" name="amount" placeholder="Montant">
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-primary mt-4" onclick="confirmAddRelation()">Payer</button>
            </div>
            
        </div>
    </form>

    <hr class="my-4">

    <!-- Transactions Table -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Mes Transactions Relationes</th>
                    <th>Description</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample rows for demonstration purposes -->
               <tr th:each="transaction : ${transactionPage.content}">
                <td th:text="${transaction.receiver.username}">Relation</td>
                <td th:text="${transaction.description}">Description</td>
                <td th:text="${transaction.amount + '€'}">Montant</td>
            </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        
<!-- Pagination Links -->
<div>
    <ul class="pagination">
        <li th:if="${transactionPage.hasPrevious()}" class="page-item">
            <a class="page-link" th:href="@{/transfer/page(page=${transactionPage.number - 1})}">Précédent</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, transactionPage.totalPages - 1)}" class="page-item" th:classappend="${i == transactionPage.number} ? 'active'">
            <a class="page-link" th:href="@{/transfer/page(page=${i})}" th:text="${i + 1}">1</a>
        </li>
        <li th:if="${transactionPage.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{/transfer/page(page=${transactionPage.number + 1})}">Suivant</a>
        </li>
    </ul>
</div>

    </div>
</div>

<!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmer le transfert d'argent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir transférer cet argent?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
        function confirmAddRelation() {
            $('#confirmModal').modal('show');
        }

        function submitForm() {
            $('#relationForm').submit();
        }
</script>
</body>
</html>
